body {
    background-color: yellow;
  }


button {
    font-size: larger;
    background-color: yellow;
    border: red;
    cursor: pointer;
    padding: 14px 16px;
        &:hover {
            color: red;
    
        }

}

.buttons {
    display: flex;
    justify-content: center;
}

.headline {
    display: flex;
    justify-content: center;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
    color: red;
}

@font-face {
    font-family: 'MyFont';
    src: url('./LibreBaskerville-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }

//component 1 / home


.image {
    width: 100vw;
    height: 400px;
    background: url('./icon.png');
    background-repeat: no-repeat;
    background-size: 400px auto;
    background-position: center;
}

.quote {
    text-align: center;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
    font-size: larger;
    color:red

}


//component 2 / contact 

.hours-open {
    text-align: center;
    font-family: 'MyFont', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 40px;
    margin-top: 50px;
}

.contact-us {
    background-color: white;
    border: 1px solid black;
}

//component 3 / menu

.menu-holder {
    background-color: white;
    height: 100vh;
    width: 800px;
    margin: auto;
    border: 5px double red;
}

